name: Hello World Workflow

on:
    push:

jobs:
    say-hello:
        runs-on: ubuntu-latest
        steps:
            - name: Print a message
              run: echo "hellow from GH actions"